.main__content {
    height: 59.5%;
    background-color: var(--box-color);
    margin: 10px;
    border-radius: 10px;    
    padding: 40px 24px;
    overflow: hidden;
}

.salutation h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: var(--font-dm-sans);
}

.salutation, .playlist-cards__introduction {
    color: white;
}

.playlist-cards__introduction {
    margin-top: 48px;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-dm-sans);
}

.playlist-cards {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 24px;
    overflow: hidden;
}

.playlist-cards .cards {
    width: 220px;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.playlist-cards .cards a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-dm-sans);
}

.playlist-cards span {
    position: absolute;
    padding: 16px;
}

.playlist-cards img {
    position: absolute;
    width: 107px;
    height: 107px;
    right: -18.4px;
    bottom: -6px;
    transform: rotate(25deg);
}

/* Hide element */
.hidden {
    display: none;
}

/* CSS descartável */
.card1 {
    background-color: #006450;
}

.card2 {
    background-color: #8400E7;
}

.card3 {
    background-color: #1E3264;
}

.card4 {
    background-color: #8C1932;
}

.card5 {
    background-color: #E8115B;
}

.card6 {
    background-color: #537AA1;
}

.card7 {
    background-color: #8E66AC;
}

.card8 {
    background-color: #148A08;
}

.card9 {
    background-color: #1E3264;
}

.card10 {
    background-color: #E91429;
}

.card11 {
    background-color: #503750;
}

.card12 {
    background-color: #D84000;
}

.card13 {
    background-color: #BA5D07;
}


/* CARD ARTISTA */

.artist {
    --column-count: 5;
    --grid-gap: 24px;
    --min-container-width: 372px;
  }
  
  .hidden {
    display: none;
  }
  
  .grid-container {
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    min-width: var(--min-container-width);
  }
  
  .artist-card {
    width: 15vw;
    height: 40vh;
    background: #181818;
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
  }
  
  .artist-card:hover {
    background-color: #252525;
  }
  
  .card-img {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
  }
  
  .artist-img {
    height: 200px;
    left: 0;
    position: absolute;
    top: 0;
    width: 200px;
    border-radius: 50%;
  }
  
  .card-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 62px;
  }
  
  .card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .artist-name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
  }
  
  .artist-categorie {
    color: #6a6a6a;
    font-weight: 400;
    font-size: 0.875rem;
  }
  
  .play {
    position: relative;
  }
  
  .play .fa-play {
    position: absolute;
    right: 10px;
    top: 120px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
  }
  
  .artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
  }
  
  #result-artist {
    padding: 20px 40px;
  }
  /* FIM CARD ARTISTA */